.country{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: space-between;
    background-color: #db8686;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.country img{
    width: 150px;
    margin-left: auto;
    margin-right: auto

}